<!-- Page Content -->
<div class="content">
  <div class="container">

    <!-- Content Header -->
    <div class="content-header">
      <h4>My Bookings</h4>
    </div>
    <!-- /Content Header -->

    <!-- Sort By -->
    <div class="row">
      <div class="col-lg-12">
        <div class="sorting-info">
          <div class="row d-flex align-items-center">
            <div class="col-xl-7 col-lg-8 col-sm-12 col-12">
              <div class="booking-lists">
                <ul class="nav">
                  <li><a [routerLink]="routes.userBookings">All Bookings</a></li>
                  <li><a [routerLink]="routes.userBookingUpcoming">Upcoming</a></li>
                  <li><a [routerLink]="routes.userBookingInprogress">Inprogress</a></li>
                  <li><a [routerLink]="routes.userBookingComplete">Completed</a></li>
                  <li><a class="active" [routerLink]="routes.userBookingCancelled">Cancelled</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-5 col-lg-4 col-sm-12 col-12">
              <div class="filter-group">
                <div class="sort-week sort">
                  <div class="dropdown dropdown-action">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      This Week <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="javascript:void(0);">
                        This Week
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        This Month
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        Last 30 Days
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                        data-bs-target="#custom_date">
                        Custom
                      </a>
                    </div>
                  </div>
                </div>
                <div class="sort-relevance sort">
                  <div class="dropdown dropdown-action">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Sort By Relevance <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="javascript:void(0);">
                        Sort By Relevance
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        Sort By Ascending
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        Sort By Descending
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        Sort By Alphabet
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Sort By -->

    <div class="row">

      <!-- Cancelled -->
      <div class="col-lg-12 d-flex">
        <div class="card book-card flex-fill mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-5">
                <h4>Cancelled <span>40</span></h4>
              </div>
              <div class="col-md-7 text-md-end">
                <div class="table-search">
                  <div id="tablefilter">
                    <div class="dataTables_filter">
                      <label>
                        <input [(ngModel)]="searchDataValue"
                          [ngModelOptions]="{standalone: true}"
                          [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="searchData(searchDataValue)" type="search"
                          class="form-control" placeholder="Search" />
                        </label>
                      </div>
                    </div>
                    <a [routerLink]="routes.listingGrid" class="btn btn-add"><i
                    class="feather icon-plus-circle"></i>Add Booking</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive dashboard-table">
                <table class="table datatable">
                  <thead class="thead-light">
                    <tr>
                      <th>
                        <label class="custom_check w-100" (click)="selectAll(initChecked)">
                          <input type="checkbox" name="username" [(ngModel)]="initChecked">
                          <span class="checkmark"></span>
                        </label>
                      </th>
                      <th>Booking ID</th>
                      <th>Car Name</th>
                      <th>Rental Type</th>
                      <th>Pickup / Delivery Location</th>
                      <th>Dropoff Location</th>
                      <th>Booked On</th>
                      <th>Total</th>
                      <th>Cancelled By</th>
                      <th>Reason</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (data of tableData; track data) {
                      <tr>
                        <td>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username" [(ngModel)]="data.isSelected">
                            <span class="checkmark"></span>
                          </label>
                        </td>
                        <td><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#cancelled_booking">{{data.bookingId}}</a></td>
                        <td>
                          <div class="table-avatar">
                            <a href="javascript:void(0);" class="avatar avatar-lg flex-shrink-0">
                              <img class="avatar-img" [src]="data.img" alt="Booking">
                            </a>
                            <div class="table-head-name flex-grow-1">
                              <a href="javascript:void(0);">{{data.carName}}</a>
                              <p>{{data.deliveryStatus}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p>{{data.rentalType}}</p>
                        </td>
                        <td>
                          <p>{{data.pickupDeliveryLocation1}} <span
                            class="d-block">{{data.pickupDeliveryLocation2}}
                          </span></p>
                        </td>
                        <td>
                          <p>{{data.dropoffLocation1}} <span
                          class="d-block">{{data.dropoffLocation2}}</span></p>
                        </td>
                        <td>
                          <p>{{data.bookedOn}}</p>
                        </td>
                        <td>
                          <p class="text-darker">{{data.total}}</p>
                        </td>
                        <td>
                          <p class="text-darker">{{data.cancelledBy}}</p>
                        </td>
                        <td>
                          <a href="javascript:void(0);" data-bs-toggle="modal"
                            data-bs-target="#cancel_reason" class="reason-link"><i
                          class="fa-regular fa-note-sticky"></i></a>
                        </td>
                        <td>
                          <span class="badge badge-light-danger">{{data.status}}</span>
                        </td>
                        <td class="text-end">
                          <div class="dropdown dropdown-action">
                            <a href="javascript:void(0);" class="dropdown-toggle"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-ellipsis-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                              <a class="dropdown-item" href="javascript:void(0);"
                                data-bs-toggle="modal" data-bs-target="#cancelled_booking">
                                <i class="feather icon-eye me-2"></i> View
                              </a>
                              <a class="dropdown-item" href="javascript:void(0);"
                                data-bs-toggle="modal" data-bs-target="#delete_modal">
                                <i class="feather icon-trash-2 me-2"></i> Delete
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
              <app-custom-pagination></app-custom-pagination>

              <div class="table-footer">
                <div class="row">
                  <div class="col-md-6">
                    <div id="tablelength"></div>
                  </div>
                  <div class="col-md-6 text-md-end">
                    <div id="tablepage"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Cancelled -->

      </div>

    </div>
  </div>
  <!-- /Page Content -->
  <!-- Completed Booking -->
  <div class="modal new-modal multi-step fade" id="cancelled_booking" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close-btn" data-bs-dismiss="modal"><span>×</span></button>
        </div>
        <div class="modal-body">
          <div class="booking-header">
            <div class="booking-img-wrap">
              <div class="book-img">
                <img src="assets/img/cars/car-05.jpg" alt="img">
              </div>
              <div class="book-info">
                <h6>Chevrolet Camaro</h6>
                <p><i class="feather-map-pin"></i> Location : Miami St, Destin, FL 32550, USA</p>
              </div>
            </div>
            <div class="book-amount">
              <p>Total Amount</p>
              <h6>$4700 <a href="javascript:void(0);"><i class="feather-alert-circle"></i></a></h6>
            </div>
          </div>
          <div class="booking-group">
            <div class="booking-wrapper">
              <div class="booking-title">
                <h6>Booking Details</h6>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Booking Type</h6>
                    <p>Delivery</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Rental Type</h6>
                    <p>Days (3 Days)</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Extra Service</h6>
                    <p>Mobile Charging</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Delivery</h6>
                    <p>45, Avenue ,Mark Street, USA</p>
                    <p>11 Jan 2023, 03:30 PM</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Dropoff</h6>
                    <p>78, 10th street Laplace,USA</p>
                    <p>11 Jan 2023, 03:30 PM</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Status</h6>
                    <span class="badge badge-light-danger">Refund Initiated</span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Booked On</h6>
                    <p>15 Sep 2023, 09:30 AM</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Start Date</h6>
                    <p>18 Sep 2023, 09:30 AM</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>End Date</h6>
                    <p>20 Sep 2023, 09:30 AM</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="booking-wrapper">
              <div class="booking-title">
                <h6>Personal Details</h6>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Details</h6>
                    <p>Johna Melinda</p>
                    <p>+1 56441 56464</p>
                    <p>Johna&#64;example.com</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>Address</h6>
                    <p>78, 10th street</p>
                    <p>Laplace,USA</p>
                    <p>316 654</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="booking-view">
                    <h6>No of Person’s</h6>
                    <p>2 Adults, 1 Child</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="cancel-reason">
              <h6>Cancel Reason</h6>
              <p>On the booking date i have other work on my personal so i am cancelling my bookingOn the
                booking date i have other work on my personal so i am cancelling my booking On the
              booking date i have other work on my personal so i am cancelling my booking</p>
            </div>
            <div class="cancel-box">
              <p>Cancelled By User on 17 Sep 2023, Refund will deposited in user account on 19 Sep 2023
              </p>
            </div>
          </div>
          <div class="modal-btn modal-btn-sm text-end">
            <a href="javascript:void(0);" data-bs-target="#view_status" data-bs-toggle="modal"
              data-bs-dismiss="modal" class="btn btn-primary">
              View status
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Cancelled Booking -->