<!-- Settings Details -->
<div class="settings-info">
    <div class="settings-sub-heading">
        <h4>Integrations</h4>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="integration-grid">
                <div class="integration-calendar">
                    <img src="assets/img/icons/integration-icon.svg" alt="Icon">
                    <div class="status-toggle">
                        <input id="google_calendar" class="check" type="checkbox" checked="">
                        <label for="google_calendar" class="checktoggle">checkbox</label>
                    </div>
                </div>
                <div class="integration-content">
                    <h5>Google Calendar</h5>
                    <p>Powerful & free service to organize your schedule and coordinate events </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Settings Details -->