<!-- Hero Sec Main -->
<div class="hero-sec-main">
    <!-- Header -->
    <header class="header header-two ">
        <div class="header-two-top">
            <div class="container">
                <div class="header-top-items">
                    <ul class="header-address">
                        <li><span><i class="bx bxs-phone"></i></span>(+088) 123 456 7890</li>
                        <li><span><i class="bx bx-map"></i></span>5617 Glassford Street New York, NY 10000, USA</li>
                    </ul>
                    <div class="header-top-right d-flex align-items-center">
                        <div class="header-top-flag-drops d-flex align-items-center">
                            <div class="header-top-drpodowns me-3">
                                <div class="dropdown header-dropdown country-flag">
                                    <a class="dropdown-toggle nav-tog" data-bs-toggle="dropdown" href="javascript:void(0);">
                                        <img src="assets/img/flags/us.png" alt="Img">English
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="assets/img/flags/fr.png" alt="Img">French
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="assets/img/flags/es.png" alt="Img">Spanish
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="assets/img/flags/de.png" alt="Img">German
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-top-drpodowns">
                                <div class="dropdown header-dropdown country-flag">
                                    <a class="dropdown-toggle nav-tog" data-bs-toggle="dropdown" href="javascript:void(0);">
                                        <i class="bx bx-globe me-2"></i>USD
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            Euro
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            INR
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-top-social-links">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-behance"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-pinterest-p"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a [routerLink]="routes.home" class="navbar-brand logo">
                        <img src="assets/img/logo-2.svg" class="img-fluid" alt="Logo">
                    </a>
                    <a [routerLink]="routes.home" class="navbar-brand logo-small">
                        <img src="assets/img/logo-small.png" class="img-fluid" alt="Logo">
                    </a>					
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                      <a [routerLink]="routes.home" class="menu-logo">
                        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
                      </a>
                      <a
                        (click)="hideSidebar()"
                        id="menu_close"
                        class="menu-close"
                        href="javascript:void(0);"
                        >
                        <i class="fas fa-times"></i
                        ></a>
                      </div>
                      <ul class="main-nav">
                        @for (mainMenus of header; track mainMenus) {
                          @if (mainMenus.separateRoute === true) {
                            <li routerLinkActive="active">
                              <a [routerLink]="mainMenus.routes">{{ mainMenus.tittle }}</a>
                            </li>
                          }
                          @if (mainMenus.separateRoute === false) {
                            <li class="has-submenu" routerLinkActive="active">
                              <a
                                href="javascript:void(0);"
                                (click)="mainMenus.showAsTab = !mainMenus.showAsTab"
                                >{{ mainMenus.tittle }} <i class="fas fa-chevron-down"></i
                              ></a>
                              <ul
                                class="submenu"
                              [ngClass]="{
                                'd-block': mainMenus.showAsTab === true
                              }"
                                >
                                @for (menu of mainMenus.menu; track menu) {
                                  @if (menu.hasSubRoute === false) {
                                    <li routerLinkActive="active">
                                      <a [routerLink]="menu.routes">{{ menu.menuValue }}</a>
                                    </li>
                                  }
                                  @if (menu.hasSubRoute === true) {
                                    <li class="has-submenu" routerLinkActive="active">
                                      <a
                                        (click)="menu.showSubRoute = !menu.showSubRoute"
                                        [routerLink]="menu.routes"
                                        >{{ menu.menuValue }}</a
                                        >
                                        <ul
                                          class="submenu"
                                      [ngClass]="{
                                        'd-block': menu.showSubRoute === true
                                      }"
                                          >
                                          @for (subMenu of menu.subMenus; track subMenu) {
                                            <li routerLinkActive="active">
                                              <a [routerLink]="subMenu.routes">{{
                                                subMenu.menuValue
                                              }}</a>
                                            </li>
                                          }
                                        </ul>
                                      </li>
                                    }
                                  }
                                </ul>
                              </li>
                            }
                          }
                        </ul>
                      </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item">
                        <a class="nav-link login-link" [routerLink]="routes.login"><span><i class="bx bx-user me-2"></i></span>Sign In / </a>
                        <a class="nav-link login-link ms-1" [routerLink]="routes.register">Register </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-reg" [routerLink]="routes.listingList"><span><i class="bx bx-plus-circle"></i></span>Add Listing</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- /Header -->

    <!-- Banner -->
    <section class="banner-section banner-sec-two banner-slider">	
        <div class="banner-img-slider ">
            <owl-carousel-o [options]="bannerimgOwlOptions" >
                <ng-template carouselSlide>
                    <div class="slider-img">
                        <img src="assets/img/bg/home-banner-img.png" alt="Img">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                <div class="slider-img">
                    <img src="assets/img/bg/home-banner-img-02.png" alt="Img">
                </div>
               </ng-template>
               <ng-template carouselSlide>
                <div class="slider-img">
                    <img src="assets/img/bg/home-banner-img-03.png" alt="Img">
                </div>
               </ng-template>
            </owl-carousel-o>
                
           
            
            
           
            
            
        </div>	
        <div class="container">
            <div class="home-banner">		
                <div class="row align-items-center">					    
                    <div class="col-md-12">
                        <div class="hero-sec-contents">
                            <div class="banner-title">
                                <h1>Online Yacht Booking. 
                                    <span>Made Simple.</span>
                                </h1>
                                <p>Modern design sports cruisers for those who crave adventure & grandeur yachts for relaxing with your loved ones.
                                    We Offer diverse and fully equipped yachts
                                </p>
                            </div>
                            <div class="banner-form">
                                <form >
                                    <div class="banner-search-list">
                                        <div class="input-block">
                                            <label><i class="bx bx-map"></i>Location</label>
                                           
                                            <mat-select
                                            [(ngModel)]="selectedValue1"
                                            [ngModelOptions]="{ standalone: true }"
                                            class="select"
                                            placeholder="Choose Location"
                                          >
                                            @for (data of selectedList1; track data) {
                                            <mat-option [value]="data.value">
                                              {{ data.value }}
                                            </mat-option>
                                            }
                                          </mat-select>
                                        </div>
                                        <div class="input-block">
                                            <label><i class="bx bx-calendar"></i>Pickup Date</label>
                                            <div class="date-widget">												
                                                <div class="group-img">
                                                <input type="text" class="form-control datetimepicker" placeholder="04/11/2023" bsDatepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-block">
                                            <label><i class="bx bx-calendar"></i>Pickup Date</label>
                                            <div class="date-widget">												
                                                <div class="group-img">
                                                <input type="text" class="form-control datetimepicker" placeholder="04/11/2023" bsDatepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-block">
                                            <label><i class="bx bxs-ship"></i>Yacht Type</label>
                                           
                                            <mat-select
                                            [(ngModel)]="selectedValue2"
                                            [ngModelOptions]="{ standalone: true }"
                                            class="select"
                                            placeholder="Choose Location"
                                          >
                                            @for (data of selectedList2; track data) {
                                            <mat-option [value]="data.value">
                                              {{ data.value }}
                                            </mat-option>
                                            }
                                          </mat-select>
                                        </div>
                                    </div>
                                    <div class="input-block-btn">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="bx bx-search-alt me-2"></i> Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="banner-user-group text-center">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-01.jpg" alt="Img"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-02.jpg" alt="Img"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-03.jpg" alt="Img"></a>
                                    </li>
                                    <li class="users-text">
                                        <h5>6K + Customers</h5>
                                        <span>has used our renting services </span>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>	
            <div class="video-btn text-center">
                <a href="https://www.youtube.com/embed/ExJZAegsOis" data-fancybox><span><i class="bx bx-play"></i></span></a>
                <h6>Check Our Video</h6>
            </div>
        </div>
    </section>
    <!-- /Banner -->
</div>
<!-- /Hero Sec Main -->
