<!-- Page Content -->
<div class="content">
  <div class="container">

    <!-- Content Header -->
    <div class="content-header">
      <h4>Wallet</h4>
    </div>
    <!-- /Content Header -->

    <!-- Wallet Info -->
    <div class="row">
      <div class="col-lg-5 col-md-12 d-flex">
        <div class="card wallet-card flex-fill">
          <div class="card-body">
            <div class="balance-info">
              <div class="balance-grid">
                <div class="balance-content">
                  <h6>Available Balance</h6>
                  <h4>$4544</h4>
                </div>
                <div class="refersh-icon">
                  <a href="javascript:void(0);">
                    <i class="fas fa-arrows-rotate"></i>
                  </a>
                </div>
              </div>
              <div class="balance-list">
                <div class="row">
                  <div class="col-lg-4 col-md-6 d-flex">
                    <div class="balance-inner credit-info">
                      <h6>$1,23,464</h6>
                      <p>Total Credit</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 d-flex">
                    <div class="balance-inner debit-info">
                      <h6>$7,357</h6>
                      <p>Total Debit</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 d-flex">
                    <div class="balance-inner transaction-info">
                      <h6>$6,56,415</h6>
                      <p>Total Transaction</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group wallet-form-group">
              <label>Add Wallet Credits ($)</label>
              <input type="text" class="form-control" placeholder="1000">
            </div>
            <div class="wallet-btn">
              <a href="javascript:void(0);" class="btn" data-bs-toggle="modal" data-bs-target="#add_payment">Add
                Payment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 d-flex">
        <div class="card your-card flex-fill">
          <div class="card-body">
            <div class="wallet-header">
              <h4>Your Cards</h4>
              <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_card">
                <i class="feather icon-plus-circle"></i>
              </a>
            </div>
            <div class="wallet-table">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <label class="custom_radio">
                          <input type="radio" name="payment" value="wallet" checked="">
                          <span class="checkmark"></span>
                          <img src="assets/img/icons/wallet-01.svg" alt="Icon">
                        </label>
                      </td>
                      <td>
                        <h6>3210 **** **** **12</h6>
                        <p>Card Number</p>
                      </td>
                      <td>
                        <h6>$3000</h6>
                        <p>Balance</p>
                      </td>
                      <td>
                        <h6>Active</h6>
                        <p>Status</p>
                      </td>
                      <td class="text-end">
                        <div class="dropdown dropdown-action">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="javascript:void(0);">
                              <i class="feather icon-edit"></i> Edit
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                              data-bs-target="#delete_modal_wallet">
                              <i class="feather icon-trash-2"></i> Delete
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="custom_radio">
                          <input type="radio" name="payment" value="wallet">
                          <span class="checkmark"></span>
                          <img src="assets/img/icons/wallet-02.svg" alt="Icon">
                        </label>
                      </td>
                      <td>
                        <h6>7847 **** **** **78</h6>
                        <p>Card Number</p>
                      </td>
                      <td>
                        <h6>$2300</h6>
                        <p>Balance</p>
                      </td>
                      <td>
                        <h6>Active</h6>
                        <p>Status</p>
                      </td>
                      <td class="text-end">
                        <div class="dropdown dropdown-action">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="javascript:void(0);">
                              <i class="feather icon-edit"></i> Edit
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                              data-bs-target="#delete_modal_wallet">
                              <i class="feather icon-trash-2"></i> Delete
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="custom_radio">
                          <input type="radio" name="payment" value="wallet">
                          <span class="checkmark"></span>
                          <img src="assets/img/icons/wallet-03.svg" alt="Icon">
                        </label>
                      </td>
                      <td>
                        <h6>4710 **** **** **64</h6>
                        <p>Card Number</p>
                      </td>
                      <td>
                        <h6>$1800</h6>
                        <p>Balance</p>
                      </td>
                      <td>
                        <h6>Active</h6>
                        <p>Status</p>
                      </td>
                      <td class="text-end">
                        <div class="dropdown dropdown-action">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="javascript:void(0);">
                              <i class="feather icon-edit"></i> Edit
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                              data-bs-target="#delete_modal_wallet">
                              <i class="feather icon-trash-2"></i> Delete
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Wallet Info -->

    <!-- Wallet Table -->
    <div class="row">
      <div class="col-lg-12 d-flex">
        <div class="card book-card flex-fill mb-0">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-5">
                <h4>Wallet Usage History</h4>
              </div>
              <div class="col-md-7 text-md-end">
                <div class="table-search">
                  <div id="tablefilter" class="me-0">
                    <div class="dataTables_filter">
                      <label>
                        <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                          [ngModelOptions]="{standalone: true}" (ngModelChange)="searchData(searchDataValue)"
                          type="search" class="form-control" placeholder="Search" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive dashboard-table">
              <table class="table datatable">
                <thead class="thead-light">
                  <tr>
                    <th>Ref Id</th>
                    <th>Transaction For</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                  <tr>
                    <td><a href="javascript:void(0);"> {{data.refId}}</a></td>
                    <td>
                      <div class="table-avatar">
                        <div class="table-head-name flex-grow-1">
                          <a href="javascript:void(0);" class="mb-0">{{data.transactionFor}}</a>
                        </div>
                      </div>
                    </td>
                    <td>{{data.date}}</td>
                    <td [ngClass]="{ 'text-danger': data.total === '- $500' || data.total === '- $450'  }"
                      class="text-success-light">{{data.total}}</td>
                    <td>
                      <span
                        [ngClass]="{ 'badge-light-success': data.status === 'Completed','badge-light-warning': data.status === 'Pending','badge-light-danger':data.status === 'Failed' }"
                        class="badge">{{data.status}}</span>
                    </td>
                  </tr>
                  }

                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>
    </div>
    <!-- /Wallet Table -->

  </div>
</div>
<!-- /Page Content -->
<!-- Add Card Modal -->
<div class="modal new-modal fade" id="add_card" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Card</h4>
        <button type="button" class="close-btn" data-bs-dismiss="modal"><span>×</span></button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="modal-form-group">
            <label>Card Number <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Card Number">
          </div>
          <div class="modal-form-group">
            <label>Name on Card <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Card Name">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="modal-form-group">
                <label>CVV <span class="text-danger">*</span></label>
                <div class="form-icon">
                  <input type="text" class="form-control" placeholder="Enter CVV Number">
                  <span class="cus-icon">
                    <img src="assets/img/icons/lock-icon.svg" alt="Icon">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="modal-form-group">
                <label>Expiry Date <span class="text-danger">*</span></label>
                <div class="form-icon">
                  <input type="text" class="form-control datetimepicker" placeholder="DD/MM/YYYY" bsDatepicker>
                  <span class="cus-icon">
                    <img src="assets/img/icons/calendar-icon.svg" alt="Icon">
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-form-group">
            <label class="custom_check">
              <input type="checkbox" name="rememberme" class="rememberme">
              <span class="checkmark"></span>
              Save this account for future transaction
            </label>
          </div>
          <div class="modal-btn">
            <button type="submit" class="btn btn-secondary w-100">Pay $4700</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Card Modal -->

<!-- Add Payment Modal -->
<div class="modal new-modal multi-step fade" id="add_payment" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Payment</h4>
        <button type="button" class="close-btn" data-bs-dismiss="modal"><span>×</span></button>
      </div>
      <div class="modal-body">
        <div class="total-payment">
          <p>Total Amount</p>
          <h6>$22314</h6>
        </div>
        <div class="choose-payment-info">
          <h5>Choose your Payment Method</h5>
          <div class="choose-payment">
            <label class="custom_radio">
              <input type="radio" name="payment_one" value="wallet_one">
              <span class="checkmark"></span>
              <img src="assets/img/icons/payment-1.svg" alt="Icon">
            </label>
            <label class="custom_radio">
              <input type="radio" name="payment_one" value="wallet_one">
              <span class="checkmark"></span>
              <img src="assets/img/icons/payment-2.svg" alt="Icon">
            </label>
            <label class="custom_radio">
              <input type="radio" name="payment_one" value="wallet_one" checked="">
              <span class="checkmark"></span>
              <img src="assets/img/icons/payment-3.svg" alt="Icon">
            </label>
          </div>
          <div class="add-payment-table-info">
            <div class="wallet-table add-payment-table">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <label class="custom_radio">
                          <input type="radio" name="payment_two" value="wallet_two" checked="">
                          <span class="checkmark"></span>
                          <img src="assets/img/icons/wallet-01.svg" alt="Icon">
                        </label>
                      </td>
                      <td>
                        <h6>3210 **** **** **12</h6>
                        <p>Card Number</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="wallet-table add-payment-table">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <label class="custom_radio">
                          <input type="radio" name="payment_two" value="wallet_two">
                          <span class="checkmark"></span>
                          <img src="assets/img/icons/wallet-02.svg" alt="Icon">
                        </label>
                      </td>
                      <td>
                        <h6>7847 **** **** **78</h6>
                        <p>Card Number</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="wallet-table add-payment-table">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <label class="custom_radio">
                          <input type="radio" name="payment_two" value="wallet_two">
                          <span class="checkmark"></span>
                          <img src="assets/img/icons/wallet-03.svg" alt="Icon">
                        </label>
                      </td>
                      <td>
                        <h6>4710 **** **** **64</h6>
                        <p>Card Number</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-btn">
          <button class="btn btn-secondary w-100" data-bs-target="#order_success" data-bs-toggle="modal"
            data-bs-dismiss="modal">Add to Wallet</button>
          <button class="btn btn-outline-cancel" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Add Payment Modal -->