<!-- Page Content -->
<div class="content settings-profile-content">
    <div class="container">
        <!-- Content Header -->
        <div class="content-header content-settings-header">
            <h4>Settings</h4>
        </div>
        <!-- /Content Header -->
        <div class="row">
            <div class="col-lg-3 theiaStickySidebar">
                <div class="stickybar">
                    <app-user-setting-sidebar></app-user-setting-sidebar>
                </div>
            </div>
            <div class="col-lg-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>