<div class="main-wrapper">
  <!-- Breadscrumb Section -->
  <div class="breadcrumb-bar">
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col-md-12 col-12">
          <h2 class="breadcrumb-title">About us</h2>
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="routes.home">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Pages</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadscrumb Section -->

  <!-- About -->
  <section class="section about-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6" data-aos="fade-down">
          <div class="about-img">
            <div class="about-exp">
              <span>10+ years of experiences</span>
            </div>
            <div class="abt-img">
              <img src="assets/img/icons/logo.png" class="img-fluid" alt="About us" />            
              
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-down">
          <div class="about-content">
            <h6>ABOUT OUR COMPANY</h6>
            <h2>Best Solution For Cleaning Services</h2>
            <p>Prime Rides is a self drive car rental service that provides you with all the privacy, 
              fun and convenience of your own car,
              without the hassles of owning and maintaining one.             
             Rent our cars on short-term basis; daily, weekly, fortnightly or subscribe to it on monthly basis .
            </p>
 
            <p>
              We drop and pick-up cars from your doorstep, so that you can spend time on the more important things. 
             The doorstep drop and pick-up of cars is our standard way of serving you,
              and is available throughout the areas served by us.
            </p>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>Unbeatable Rates.</li>
                  <li>Easy & Quick Online Booking.</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li> Clean & Well-Maintained Fleet.</li>
                <li>Doorstep Delivery across Delhi-NCR.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About -->

  


  <!-- services -->
<section class="section services bg-light-primary">
  <div class="service-right">
    <img src="assets/img/bg/service-right.svg" class="img-fluid" alt="services right" />
  </div>
  <div class="container">
    <!-- Heading title-->
    <div class="section-heading" data-aos="fade-down">
      <h2>How It Works</h2>
      <p>Renting a car has been easier! </p>
      <p>
        "Book your car effortlessly in just a few clicks. Experience a seamless, fast, and hassle-free car rental
        service with us."
      </p>
    </div>
    <!-- /Heading title -->
    <div class="services-work">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
          <div class="services-group">
            <div class="services-icon border-secondary">
              <img class="icon-img bg-secondary" src="assets/img/icons/services-icon-01.svg" alt="Choose Locations" />
            </div>
            <div class="services-content">
              <h3>1. Choose Car</h3>
              <p>Select the city where you need a car.
                Browse from a wide range of vehicles and choose the perfect one.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
          <div class="services-group">
            <div class="services-icon border-warning">
              <img class="icon-img bg-warning" src="assets/img/icons/services-icon-02.svg" alt="Choose Locations" />
            </div>
            <div class="services-content">
              <h3>2. Confirm Booking</h3>
              <p>
                Confirm your booking with a simple and quick process.
                And Experience the freedom of self-drive car.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
          <div class="services-group">
            <div class="services-icon border-dark">
              <img class="icon-img bg-dark" src="assets/img/icons/services-icon-03.svg" alt="Choose Locations" />
            </div>
            <div class="services-content">
              <h3>3. Return Car</h3>
              <p>
                Drive hassle-free and return the car at the designated location upon completing your trip.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /services -->

  <!-- Facts By The Numbers -->
  <section class="section facts-number">
    <div class="facts-left">
      <img src="assets/img/bg/facts-left.png" class="img-fluid" alt="facts left" />
    </div>
    <div class="facts-right">
      <img src="assets/img/bg/facts-right.png" class="img-fluid" alt="facts right" />
    </div>
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2 class="title text-white">Facts By The Numbers</h2>
        <p class="description text-white">
          "Unlock the numbers that drive our success – real facts, real impact, and real journeys!"
        </p>
      </div>
      <!-- /Heading title -->
      <div class="counter-group">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/bx-heart.svg" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="16" [options]="{ duration: 10 }">16</span>K+
                  </h4>

                  <p>Happy Customers</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/bx-car.svg" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="2547" [options]="{ duration: 10 }">2547</span>+
                  </h4>
                  <p>Count of Cars</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/bx-headphone.svg" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="625" [options]="{ duration: 10 }">625</span>K+
                  </h4>
                  <p>Car Center Solutions</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/bx-history.svg" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="200" [options]="{ duration: 10 }">200</span>K+
                  </h4>
                  <p>Total Kilometer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Facts By The Numbers -->

  <!-- Why Choose Us -->
  <section class="section why-choose">
    <div class="choose-left">
      <img src="assets/img/bg/choose-left.png" class="img-fluid" alt="Why Choose Us" />
    </div>
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2>Why Choose Us</h2>
        <p>
          "Experience seamless car rentals with unbeatable prices, top-quality service, and a fleet you can trust!"
        </p>
      </div>
      <!-- /Heading title -->
      <div class="why-choose-group">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12 d-flex" data-aos="fade-down">
            <div class="card flex-fill">
              <div class="card-body">
                <div class="choose-img choose-black">
                  <img src="assets/img/icons/bx-user-check.svg" alt="" />
                </div>
                <div class="choose-content">
                  <h4>Easy & Fast Booking</h4>
                  <p>
                    Enjoy a seamless and hassle-free car booking experience with our quick and efficient process.
                     Get on the road in no time with just a few clicks! Whether you're traveling for business or leisure, 
                     our easily accessible car make it simple and hassle-free to get on the road.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 d-flex" data-aos="fade-down">
            <div class="card flex-fill">
              <div class="card-body">
                <div class="choose-img choose-secondary">
                  <img src="assets/img/icons/bx-user-check.svg" alt="" />
                </div>
                <div class="choose-content">
                  <h4>Many Pickup Location</h4>
                  <p>
                    At our service, we understand that convenience is key. 
                    That's why we offer pickup locations and deliver your resereved car on your doorstep accross Delhi-NCR, 
                    allowing you to choose the most suitable one for your needs.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 d-flex" data-aos="fade-down">
            <div class="card flex-fill">
              <div class="card-body">
                <div class="choose-img choose-primary">
                  <img src="assets/img/icons/bx-user-check.svg" alt="" />
                </div>
                <div class="choose-content">
                  <h4>Customer Satisfaction</h4>
                  <p>
                    We prioritize your satisfaction above all else.
                     Our customer-first approach ensures that every interaction is smooth, personalized, 
                     and hassle-free. By leveraging innovative solutions, we consistently enhance your experience, 
                    offering seamless service that exceeds expectations.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Why Choose Us -->

  <!-- About us Testimonials -->
  <section class="section about-testimonial testimonials-section">
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2 class="title text-white">What People say about us?</h2>
        <p class="description text-white">
         "On our website, you get trusted and convenient car rental services, making every moment of your journey easier and better!"
        </p>
      </div>
      <!-- /Heading title -->
      <!-- Carousel Item -->
      <owl-carousel-o [options]="customOptions" class="about-testimonials testimonial-group mb-0 owl-theme">
        @for (slide of carousel; track slide) {
          <ng-template carouselSlide>
            <div class="testimonial-item d-flex">
              <div class="card flex-fill">
                <div class="card-body">
                  <div class="quotes-head"></div>
                  <div class="review-box">
                    <div class="review-profile">
                      <div class="review-img">
                        <img [src]="slide.img" class="img-fluid" alt="img" />
                      </div>
                    </div>
                    <div class="review-details">
                      <h6>{{ slide.Name }}</h6>
                      <div class="list-rating">
                        <div class="list-rating-star">
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                        </div>
                        <p>
                          <span>{{ slide.rating }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <p>
                    {{ slide.para }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>

      <!-- /Carousel Item  -->
    </div>
  </section>
  <!-- About us Testimonials -->

  <!-- FAQ  -->
  <section class="section faq-section bg-light-primary">
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2>Frequently Asked Questions</h2>
        <p>
         "On our website, you get trusted and convenient car rental services, making every moment of your journey easier and better!"
        </p>
      </div>
      <!-- /Heading title -->
      <div class="faq-info">
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqOne" aria-expanded="false">
              What is about rental car
            deals?</a>
          </h4>
          <div id="faqOne" class="card-collapse collapse">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqTwo" aria-expanded="false">In which areas do you
            operate?</a>
          </h4>
          <div id="faqTwo" class="card-collapse collapse">
            <p>
              Delhi-NCR Region :- We are covering Delhi, Noida, Gurgaon, Faridabad &
              Ghaziabad.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqThree" aria-expanded="false">
              AM I ELIGIBLE TO USE PRIME RIDES SERVICES?</a>
          </h4>
          <div id="faqThree" class="card-collapse collapse">
            <p>
              To avail Prime Rides services, you must be at least 21 years old,
              and you should hold valid driving license for Light Motor
              Vehicles.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqFour" aria-expanded="false">
              ARE THERE ANY RESTRICTED PLACES FOR TRAVEL?
            </a>
          </h4>
          <div id="faqFour" class="card-collapse collapse">
            <p>
              You can drive our cars entire India however we do not permit
              taking Prime Rides vehicles to Leh/Ladakh region, Kaza/Nako region
              and spit valley. We also advise you to avoid bad terrains
              (especially in non- SUV cars) and areas restricted by local bodies
              and goverment.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqFive" aria-expanded="false">
              DO I HAVE TO BRING THE CAR BACK TO THE SAME LOCATION?
            </a>
          </h4>
          <div id="faqFive" class="card-collapse collapse">
            <p>
              You can choose multiple locations across Delhi NCR for pick up and
              delivery. Standard charges will be applied according to distance.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqSix" aria-expanded="false">
              CAN I BOOK A ONE-WAY TRIP WITH PRIME RIDES?
            </a>
          </h4>
          <div id="faqSix" class="card-collapse collapse">
            <p>
              Currently this facility in not available.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqSeven" aria-expanded="false">
              CAN I BOOK FOR ANY DURATION OF TIME?
            </a>
          </h4>
          <div id="faqSeven" class="card-collapse collapse">
            <p>
              For rentals, the minimum booking duration is 12 hours, and the
              maximum is up to 180 days.<br />

              If you need a car for longer period of time, please try Prime
              Rides subscriptions, wherein you can subscribe to a car for
              minimum of 1 month and maximum of 36 months.<br />
              Check out <a href="www.primerides.in">website</a> for more
              details.
            </p>
          </div>
        </div>

        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqEight" aria-expanded="false">
              
              IS PEAK SEASON? ARE THE PRICES DIFFERENT DURING PEAK SEASON?
            </a>
          </h4>
          <div id="faqEight" class="card-collapse collapse">
            <p>
              Peak season refers to festive periods of very high demand.<br />
              Our hourly rental tariffs are different for weekdays (Mon-Fri),
              weekends (Sat-Sun) and the Peak Season. <br />
              The dates and prices for the Peak Season are dynamically decided
              based on the demand.
            </p>
          </div>
        </div>

        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqNine" aria-expanded="false">
              WHAT KIND OF CARS CAN I CHOOSE FROM?
            </a>
          </h4>
          <div id="faqNine" class="card-collapse collapse">
            <p>
              We have a curated selection of cars, which includes various models
              across segments such as SUVs, ultra-luxury cars, hatchbacks and
              sedans. We are constantly increasing our fleet; so keep a close
              watch for your favourite car, just in case we don’t have it
              already.
            </p>
          </div>
        </div>

        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqTen" aria-expanded="false">
              IS PRIME RIDES 24/7 AVAILABLE?
            </a>
          </h4>
          <div id="faqTen" class="card-collapse collapse">
            <p>
              Yes, we are accessible 24x7. You can book the car anytime from
              anywhere.
            </p>
          </div>
        </div>

        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqEleven" aria-expanded="false">
              CAN I TAKE A PET ALONG WITH ME?
            </a>
          </h4>
          <div id="faqEleven" class="card-collapse collapse">
            <p>
              While we love pets, some of our customers might be allergic to
              them so we can’t allow pets in cars.
            </p>
          </div>
        </div>

        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqTwalve" aria-expanded="false">
              IS THERE ANY SPEED LIMIT?
            </a>
          </h4>
          <div id="faqTwalve" class="card-collapse collapse">
            <p>
              120 Kms/Hr is the speed limit. Exceeding it will attract a penalty
              for over-speeding is first attempt 5000 and 10000 for each breach.
              In some area (e.g., Central Delhi, Lutyens, Cannaught place,
              Airport etc), restricted to the speed of 30-60Kms/Hr. This is as
              per government directives.
            </p>
          </div>
        </div>

        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqthirteen" aria-expanded="false">
              IN THE EVENT OF AN ACCIDENT OR DAMAGE TO THE VEHICLE, WHAT IS MY
              MAXIMUM LIABILITY?
            </a>
          </h4>
          <div id="faqthirteen" class="card-collapse collapse">
            
              <ol start="1">
                <li>
                  In the event of damages, Your liability is limited to a maximum
                  of <b>Rs 100000.</b>
                  <br />
                  You will need to pay Damage Fee equivalent to the repair cost
                  (as estimated by an authorized dealership) and downtime losses,
                  upto a maximum of <b>Rs 100000.</b><br />
                  This is independent of the nature and terms of the insurance
                  cover that has on the cars.
                </li>
  
                <li>
                  Please note that the maximum liability policy is intended to
                  benefit and protect the responsible user. In situations of
                  irresponsible or unsafe or negligent driving, there could be
                  discretionary exceptions to this policy, whereby the user could
                  be liable for all damages irrespective of whether or not Prime
                  Rides is able to claim insurance in such cases. Examples of such
                  situation include,<br />
                  <b>But are not limited to:-</b>
  
                  <ul>
                    <li>
                      When the User is not in compliance with the laws and/or with
                      terms of the Prime Rides User Agreement
                    </li>
                    <li>
                      When the User is found to be under the influence of
                      alcohol/narcotics while driving
                    </li>
                    <li>
                      When the User is over-speeding (i.e. above prescribed speed
                      limit of road or 120 Kms/Hr, whichever is lower)
                    </li>
                    <li>
                      When the User is in violation of traffic rules or of the
                      Motor Vehicles Act (for example, if the User has not paid
                      the inter-state tax while crossing a state border)
                    </li>
                    <li>
                      When the person driving the vehicle at the time of the
                      incident is found to be different than the one who made the
                      booking
                    </li>
                    <li>
                      When the vehicle workshop and/or insurance company deem the
                      damage to be consequential in nature (this will be clearly
                      stated in the accident report). Consequential damage occurs
                      when the User continues driving the vehicle even when it is
                      performing abnormally
                    </li>
                    <li>
                      When the number of people in the car at the time of the
                      incident exceed the standard seating capacity of the car
                    </li>
                    <li>
                      When the incident happened in a state for which the user had
                      failed to pay the inter-state tax while entering the state
                    </li>
                    <li>
                      When there is misrepresentation of information in the
                      driving license and ID proof details shared by the user
                    </li>
                    <li>
                      Where there is clear evidence of extremely rash and
                      negligent driving on the user’s part
                    </li>
                  </ul>
                </li>
  
                <li>
                  In cases where the estimated damage charges exceed the security
                  deposit, we will request the user to pay the same at the time of
                  returning the car.<br />
                  In cases of non-payment, Prime Rides reserves the right of legal
                  action, reporting to credit bureau and reporting to other
                  authorities or persons, irrespective of their direct relevance
                  to the case.
                </li>
  
                <li>
                  In cases of accident, fare for the unused hours will not be
                  refunded.
                </li>
  
                <li>
                  Prime Rides typically avoids charging for very minor damages
                  (e.g., minor scratches and dents), and covers the vast majority
                  of damage incidents under the maximum liability policy.
                </li>
  
                <li>
                  In cases of collision or User failure, towing and impounding
                  charges will be paid by the User. In cases of vehicle failure,
                  towing and impounding charges will be paid by us.
                </li>
              </ol>
           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /FAQ -->
</div>