<!-- Header -->
<header class="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a (click)="toggleSidebar()" id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a [routerLink]="routes.home" class="navbar-brand logo">
          <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
        </a>
        <a [routerLink]="routes.home" class="navbar-brand logo-small">
          <img src="assets/img/logo-small.png" class="img-fluid" alt="Logo" />
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a [routerLink]="routes.home" class="menu-logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
          </a>
          <a (click)="hideSidebar()" id="menu_close" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i></a>
          </div>
          <ul class="main-nav">
            @for (mainMenus of header; track mainMenus) {
              @if (mainMenus.separateRoute === true) {
                <li routerLinkActive="active">
                  <a [routerLink]="mainMenus.routes">{{ mainMenus.tittle }}</a>
                </li>
              }
              @if (mainMenus.separateRoute === false) {
                <li class="has-submenu" [class.active]="base === mainMenus.base">
                  <a href="javascript:void(0);" (click)="mainMenus.showAsTab = !mainMenus.showAsTab">{{ mainMenus.tittle
                    }} <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu" [ngClass]="{
                    'd-block': mainMenus.showAsTab === true
                  }">
                      @for (menu of mainMenus.menu; track menu) {
                        @if (menu.hasSubRoute === false) {
                          <li
                            [class.active]="page === menu.page1 || page === menu.page2 || page === menu.page3 || page === menu.page4 || page === menu.page5 || page === menu.page6 || page === menu.page7 || page === menu.page8 || page === menu.page9 || page === menu.page10 || page === menu.page11">
                            <a [routerLink]="menu.routes">{{ menu.menuValue }}</a>
                          </li>
                        }
                        @if (menu.hasSubRoute === true) {
                          <li class="has-submenu" routerLinkActive="active">
                            <a (click)="menu.showSubRoute = !menu.showSubRoute" [routerLink]="menu.routes">{{ menu.menuValue
                            }}</a>
                        <ul class="submenu" [ngClass]="{
                            'd-block': menu.showSubRoute === true
                          }">
                              @for (subMenu of menu.subMenus; track subMenu) {
                                <li routerLinkActive="active">
                                  <a [routerLink]="subMenu.routes">{{
                                    subMenu.menuValue
                                  }}</a>
                                </li>
                              }
                            </ul>
                          </li>
                        }
                      }
                    </ul>
                  </li>
                }
              }
            </ul>
          </div>
          <ul class="nav header-navbar-rht">
            <!-- Notifications -->
            <li class="nav-item dropdown logged-item noti-nav noti-wrapper">
              <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="bell-icon"><img src="assets/img/icons/bell-icon.svg" alt="Bell" /></span>
                <span class="badge badge-pill"></span>
              </a>
              <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                  <span class="notification-title">Notifications</span>
                  <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                </div>
                <div class="noti-content">
                  <ul class="notification-list">
                    <li class="notification-message">
                      <a href="javascript:void(0);">
                        <div class="media d-flex">
                          <span class="avatar avatar-lg flex-shrink-0">
                            <img class="avatar-img rounded-circle" alt="User Image"
                              src="assets/img/profiles/avatar-01.jpg" />
                            </span>
                            <div class="media-body flex-grow-1">
                              <p class="noti-details">
                                <span class="noti-title">Jonathan Doe </span> has
                                booked <span class="noti-title">your service</span>
                              </p>
                              <p class="noti-time">
                                <span class="notification-time">4 mins ago</span>
                              </p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="notification-message">
                        <a href="javascript:void(0);">
                          <div class="media d-flex">
                            <span class="avatar avatar-lg flex-shrink-0">
                              <img class="avatar-img rounded-circle" alt="User Image"
                                src="assets/img/profiles/avatar-03.jpg" />
                              </span>
                              <div class="media-body flex-grow-1">
                                <p class="noti-details">
                                  <span class="noti-title">Julie Pennington</span> has
                                  booked <span class="noti-title">your service</span>
                                </p>
                                <p class="noti-time">
                                  <span class="notification-time">6 mins ago</span>
                                </p>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="notification-message">
                          <a href="javascript:void(0);">
                            <div class="media d-flex">
                              <span class="avatar avatar-lg flex-shrink-0">
                                <img class="avatar-img rounded-circle" alt="User Image"
                                  src="assets/img/profiles/avatar-02.jpg" />
                                </span>
                                <div class="media-body flex-grow-1">
                                  <p class="noti-details">
                                    <span class="noti-title">Tyrone Roberts</span> has
                                    booked <span class="noti-title">your service</span>
                                  </p>
                                  <p class="noti-time">
                                    <span class="notification-time">8 mins ago</span>
                                  </p>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li class="notification-message">
                            <a href="javascript:void(0);">
                              <div class="media d-flex">
                                <span class="avatar avatar-lg flex-shrink-0">
                                  <img class="avatar-img rounded-circle" alt="User Image"
                                    src="assets/img/profiles/avatar-04.jpg" />
                                  </span>
                                  <div class="media-body flex-grow-1">
                                    <p class="noti-details">
                                      <span class="noti-title">Patricia Manzi</span> has
                                      booked <span class="noti-title">your service</span>
                                    </p>
                                    <p class="noti-time">
                                      <span class="notification-time">12 mins ago</span>
                                    </p>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <li class="notification-message">
                              <a href="javascript:void(0);">
                                <div class="media d-flex">
                                  <span class="avatar avatar-lg flex-shrink-0">
                                    <img class="avatar-img rounded-circle" alt="User Image"
                                      src="assets/img/profiles/avatar-01.jpg" />
                                    </span>
                                    <div class="media-body flex-grow-1">
                                      <p class="noti-details">
                                        <span class="noti-title">Jonathan Doe</span> has
                                        booked <span class="noti-title">your service</span>
                                      </p>
                                      <p class="noti-time">
                                        <span class="notification-time">4 mins ago</span>
                                      </p>
                                    </div>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="topnav-dropdown-footer">
                            <a href="javascript:void(0);">View all Notifications</a>
                          </div>
                        </div>
                      </li>
                      <!-- /Notifications -->

                      <!-- User Menu -->
                      <li class="nav-item dropdown has-arrow logged-item">
                        <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                          <span class="user-img">
                            <img class="rounded-circle" src="assets/img/profiles/avatar-14.jpg" alt="Profile" />
                          </span>
                          <span class="user-text">Daniel Johshuva</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" [routerLink]="routes.userDashboard">
                            <i class="feather icon-user-check"></i> Dashboard
                          </a>
                          <a class="dropdown-item" [routerLink]="routes.userSettings">
                            <i class="feather icon-settings"></i> Settings
                          </a>
                          <a class="dropdown-item" [routerLink]="routes.home">
                            <i class="feather icon-power"></i> Logout
                          </a>
                        </div>
                      </li>
                      <!-- /User Menu -->
                    </ul>
                  </nav>
                </div>
              </header>
              <!-- /Header -->